*{
    margin: 0px;
    padding: 0px;
}
.titulo{
    background-color: rgb(43, 226, 171);
}
.titulo h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.menu{
    /*border: 1px red solid ;*/
    width: 100%;
}
.menu ul{
    width: 100%;
    /*border: 1px black solid;*/
    text-align: center;
    display: flex;

}
.menu ul a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: row;
    width: 50%;
    margin: 3px;
}
.menu ul a:hover{
    background-color: aqua;
    color: white;
}

/*Inicio Carrusel*/
@keyframes cambio {
    0%{ margin-left: 0; }
    20% { margin-left: 0; }

    25% {margin-left: -100%; }
    45% {margin-left: -100%; }

    50% {margin-left: -200%; }
    70% {margin-left: -200%; }

    75% {margin-left: -300%; }
    100%{margin-left: -300%; }
}
/*Controla la seccion donde se encuentra*/
.carrusel{
    width: 100%; /*Tamaño del ancho del carrusel*/
    overflow: hidden;
    margin: top;
    text-align: center;
    border-radius: 10px;
}
/*El total que recorrera*/
.carrusel ul{
    display: flex;
    padding: 0;
    width: 400%; 

    animation: cambio 15s infinite;
    animation-direction: normal;
}
/*Representa el tamaño de el renglon de la lista*/
.carrusel li{ 
    width: 100%;
    list-style: none;
}
/*indica la distancia que debe recorrer la imagen*/
.carrusel img{ 
    width: 100%;
    height: 600px; /*Tamaño de las imagenes del carrusel*/
}
                            /*Final carrucel*/
